@model HomeViewModel 

<section id="slider-container" class="slider-area two"> 
            <div class="slider-owl owl-theme owl-carousel"> 
                <!-- Start Slingle Slide -->
                @foreach (var item in Model.sliders)
        {
            <div class="single-slide item" style="background-image: url();">
                    <!-- Start Slider Content -->
                    <div class="slider-content-area">  
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1"> 
                                    <div class="slide-content-wrapper">
                                        <div class="slide-content text-center">
                                       <h2>@item.Title</h2>
                                        <p>@item.Description</p>
                                            <a class="default-btn" asp-controller="course" asp-action="index" >Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Slider Content -->
                </div>

        }
                <!-- End Slingle Slide -->
             							
            </div>
        </section>
		<!-- Background Area End -->
        <!-- Service Start -->
        <div class="service-area two pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                            <h3><a asp-controller="teacher" asp-action="index" >PROFESSIONAL TEACHER</a></h3>
                            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                    <h3><a asp-controller="teacher" asp-action="index">PROFESSIONAL TEACHER</a></h3>
                            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-service">
                    <h3><a asp-controller="teacher" asp-action="index">PROFESSIONAL TEACHER</a></h3>
                            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        <!-- About Start -->
        <div class="about-area pb-155">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.welcomes)
            {
                <div class="col-md-6 col-sm-6">
                    <div class="about-content">
                        <h2>@item.Tittle</h2>
						<p>@item.Description</p>
                        <p class="hidden-sm">I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system</p>
                        <a class="default-btn" asp-controller="course" asp-action="index"  >view courses</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-img" style="display:flex;justify-content:center;align-items:center;" >
                        <img src="~/Assets/img/@item.Image" alt="about">
                    </div>
                </div>
            }
                </div>
            </div>
        </div>
        <!-- About End -->
        <!-- Courses Area Start -->
        <div class="courses-area two pt-150 pb-150 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title">
                    <img src="~/Assets/img/icon/section1.png" alt="section-title">
                            <h2>COURSES WE OFFER</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.courses)
            {
                
                <div class="col-md-4 col-sm-6 col-xs-12" style="border-radius:12px;">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-controller="course" asp-action="detail" asp-route-id="@item.Id">
                                <img src="~/Assets/img/@item.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>  
                            <div class="course-content" style="border-radius:12px;">
                            <h3><a href="course-details.html">@item.Title</a></h3>
                            <p>@item.Description</p>
                            <a class="default-btn" asp-controller="course" asp-action="detail" asp-route-id="@item.Id" >read more</a>
                        </div>
                    </div>
                </div>

                
            }
                  
                </div>
            </div>
        </div>
        <!-- Courses Area End -->
        <!-- Notice Start -->
        <section class="notice-area two pt-140">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @foreach (var item in Model.videos)
                {

                    <div class="notice-right-wrapper mb-25 pb-25">
                        <h3>@item.Name</h3>
                        <div style="width:200px;">
                            <img src="~/Assets/img/225420e9-a7d8-4f71-b024-41e57911a82dimages(2).jpeg" style="width:100%;" href="@item.Link">
                        </div>
                    </div>
                }
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="notice-left-wrapper">  
                            <h3>notice board</h3>
                            <div class="notice-left">
                                @foreach (var item in Model.noticeboards)
                        {
                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@item.CreatedDate.Day-@item.CreatedDate.Month.ToString()-@item.CreatedDate.Year</h4>
                                <p> @item.Description</p>
                            </div>
                        }
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </section>
        <!-- Notice End -->
        <!-- Event Area Start -->
        <div class="event-area two text-center pt-100 pb-145">
            <div class="container">
                <div class="row">
                     <div class="col-xs-12">
                        <div class="section-title">
                    <img src="~/Assets/img/icon/section.png" alt="section-title">
                            <h2>UPCOMMING EVENTS</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        @foreach (var item in Model.events)
                {

                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="detail" asp-route-id="@item.Id" ><img src="~/Assets/img/@item.Image" style="width:300px; height:210px;" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3>20 June 2017</h3>
                            <h4><a asp-controller="event" asp-action="detail" asp-route-id="@item.Id">@item.Title</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>Azerbaijan</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@item.Id" >join now</a>
                            </div>
                        </div>
                    </div>

                }
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Event Area End -->
        <!-- Testimonial Area Start -->
        <div class="testimonial-area pt-110 pb-105 text-center">
            <div class="container">
                <div class="row">
                    <div class="testimonial-owl owl-theme owl-carousel">
                        <div class="col-md-8 col-md-offset-2 col-sm-12">
                            <div class="single-testimonial">

                                @foreach (var item in Model.extraInfos)
                        {
                                <div class="testimonial-info">
                                    <div class="testimonial-img"  style="width:200px;height:100px; ">
                                <img src="~/Assets/img/@item.Image" alt="testimonial" style="width:100%;">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>@item.Description</p>
                                        <h4>@item.Name</h4>
                                        <h5>@item.Position</h5>
                                    </div>
                                </div>
                        }
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->
        <!-- Blog Area Start -->
        <div class="blog-area pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section-title text-center">
                    <img src="~/Assets/img/icon/section.png" alt="section-title">
                            <h2>LATEST FROM BLOG</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var item in Model.blogs)
            {
                
                    <div class="col-md-4 col-sm-6 col-xs-12"  >
                    <div class="single-blog" >
                            <div class="blog-img">
                            <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id"><img src="~/Assets/img/@item.Image" alt="blog"></a>
                                <div class="blog-hover">
                                    <a href="blog-details.html"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>@item.Owner/  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                                </div>
                                <div class="blog-bottom">
                                <h2><a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id"> @item.Description </a></h2>
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id" >read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
            }
                   
                </div>
            </div>
        </div>
        <!-- Blog Area End -->
        <!-- Subscribe Start -->
        <div class="subscribe-area pt-60 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="subscribe-content section-title text-center">
                            <h2>subscribe our newsletter</h2>
                            <p>I must explain to you how all this mistaken idea </p>
                        </div>
                        <div class="newsletter-form mc_embed_signup">
                            <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="mc-form"> 
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                    <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button> 
                                </div>    
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subscribe End -->